@font-face {
  font-family: Pacifico;
  src: url("fuentes/Pacifico.ttf") format('truetype');
}
@font-face {
  font-family: Handlee-Regular;
  src: url("fuentes/Handlee-Regular.ttf") format('truetype');
}
@font-face {
  font-family: RockSalt;
  src: url("fuentes/RockSalt.ttf") format('truetype');
}
@font-face {
  font-family: Amaranth-Regular;
  src: url("fuentes/Amaranth-Regular.ttf") format('truetype');
}
body {
  text-align: left;
  margin: 0px;
  padding: 0px;
  background: #fefdfd;
}
header {
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  text-align: left;
  background: #e5e5e5;
}
header .caja_header {
  width: 65%;
  padding: 0px;
  height: auto;
  margin: auto;
  margin-top: 80px;
  text-align: left;
  overflow: hidden;
}
header .caja_header .logo {
  float: left;
  width: auto;
  height: auto;
  transition: transform 0.5s;
  margin-top: 0px;
}
header .caja_header .logo img {
  transition: transform 0.5s;
  padding: 10px;
}
header .caja_header .logo img:hover {
  transform: scale(1.2, 1.2);
}
header .caja_header .titulos {
  display: inline-block;
  margin: 0px 0px 0px -10px;
}
header .caja_header .titulos .nombre_empresa {
  font-family: Pacifico;
  margin: 0px;
  padding: -5px 8px -5px 8px;
  font-size: 40px;
  color: #33958f;
  text-shadow: 2px 2px 5px rgba(173,213,170,0.5);
}
header .caja_header .titulos .razon_social {
  margin: -15px 0px 0px 25px;
  padding: 0px;
  font-size: 23px;
  color: #383838;
  letter-spacing: 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  font-family: Handlee-Regular;
  font-weight: bold;
}
header .caja_header nav {
  display: inline-block;
  float: right;
  margin: 12px 0px 0px 0px;
  padding: 0px;
}
header .caja_header nav ul {
  text-align: center;
  padding: 0px;
}
header .caja_header nav ul li {
  display: inline;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
header .caja_header nav ul li a {
  text-decoration: none;
  color: #383838;
  transition: transform 0.5s;
  font-family: Handlee-Regular;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
header .caja_header nav ul li .nav_index {
  color: #33958f;
}
header .caja_header nav ul li .nav_servicios {
  color: #33958f;
}
header .caja_header nav ul li .nav_informacion {
  color: #33958f;
}
header .caja_header nav ul li .nav_contacto {
  color: #33958f;
}
header .caja_header nav ul li a:hover {
  color: #33958f;
  transform: scale(1.2, 1.2);
}
section,
.index {
  width: 80%;
  height: auto;
  margin: auto;
  position: relative;
}
section .contenido,
.index .contenido {
  display: inline-block;
  position: relative;
  margin: 100px 0px 100px 0px;
  padding: 0px;
  overflow: hidden;
}
section .contenido .logobody,
.index .contenido .logobody {
  float: left;
  width: 450px;
  height: 450px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
section .contenido .saludos,
.index .contenido .saludos {
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  font-family: Amaranth-Regular;
}
section .contenido .saludos .hola,
.index .contenido .saludos .hola {
  display: block;
  font-size: 80px;
  font-weight: bold;
  color: #8c8b8b;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
section .contenido .saludos .sabemos,
.index .contenido .saludos .sabemos {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #8c8b8b;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
section .contenido .saludos .logos_paginas_index,
.index .contenido .saludos .logos_paginas_index {
  padding: 30px 0px 30px 0px;
  margin: 0px;
}
section .contenido .saludos .logos_paginas_index img,
.index .contenido .saludos .logos_paginas_index img {
  transition: transform 0.5s;
}
section .contenido .saludos .logos_paginas_index img:hover,
.index .contenido .saludos .logos_paginas_index img:hover {
  transform: scale(1.1, 1.1);
}
section .contenido .saludos .descripcion,
.index .contenido .saludos .descripcion {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #8c8b8b;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
section .contenido .saludos .movil_web,
.index .contenido .saludos .movil_web {
  font-size: 30px;
  font-weight: bold;
  color: #8c8b8b;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
section .contenido .saludos .en_una,
.index .contenido .saludos .en_una {
  font-size: 30px;
  font-weight: bold;
  color: #e57d22;
  text-shadow: 2px 2px 5px rgba(229,154,34,0.6);
}
.servicios {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 75%;
  height: auto;
  margin: auto;
  font-family: Amaranth-Regular;
}
.servicios .titulo_servicios {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: block;
}
.servicios .titulo_servicios h1 {
  color: #8c8b8b;
  display: inline-block;
  font-size: 80px;
  width: 90%;
  height: auto;
  margin: 50px 20px 20px 20px;
  padding: 0px 0px 2% 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
article {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  display: inline-block;
  border-top: 3px solid #edb888;
}
article figure {
  margin: 0px;
  padding: 0px;
}
article figure img {
  margin: 0px;
  padding: 20px;
  float: left;
  transition: transform 0.5s;
}
article figure img:hover {
  transform: scale(1.2, 1.2);
}
article div {
  margin: 0px;
  padding: 7% 7% 0px 0px;
}
article div p {
  margin: 0px;
  padding: 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 20px;
  text-align: justify;
}
.informacion {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 75%;
  height: auto;
  margin: auto;
  font-family: Amaranth-Regular;
}
.informacion .titulo_nuestrahistoria {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: block;
}
.informacion .titulo_nuestrahistoria h1 {
  color: #8c8b8b;
  border-bottom: 3px solid #edb888;
  display: inline-block;
  font-size: 80px;
  width: 90%;
  height: auto;
  margin: 50px 20px 20px 20px;
  padding: 0px 0px 2% 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.informacion .img_info_prin {
  width: 100%;
  height: auto;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  display: block;
}
.informacion .img_info_prin img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.informacion .parrafo_informacion {
  width: 100%;
  height: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.informacion .parrafo_informacion .segundo_parrafo_informacion {
  margin: 2% 15% 5% 15%;
}
.informacion .parrafo_informacion .segundo_parrafo_informacion p {
  border-bottom: 3px solid #e5e5e5;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 7% 0px;
  text-align: justify;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 20px;
}
.contactos {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 75%;
  height: auto;
  margin: auto;
  font-family: Amaranth-Regular;
}
.contactos .titulo_contactos {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: block;
}
.contactos .titulo_contactos h1 {
  color: #8c8b8b;
  border-bottom: 3px solid #edb888;
  display: inline-block;
  font-size: 80px;
  width: 90%;
  height: auto;
  margin: 50px 20px 20px 20px;
  padding: 0px 0px 2% 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.contactos .parrafo_total {
  width: 100%;
  height: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.contactos .parrafo_total .parrafo_centrado {
  margin: 2% 25% 5% 25%;
}
.contactos .parrafo_total .parrafo_centrado .parrafo_contacto {
  display: block;
}
.contactos .parrafo_total .parrafo_centrado .parrafo_contacto p {
  border-bottom: 3px solid #e5e5e5;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 7% 0px;
  text-align: justify;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 20px;
}
.contactos .parrafo_total .parrafo_centrado .formulario {
  diplay: block;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  text-align: left;
}
.contactos .parrafo_total .parrafo_centrado .redes_form {
  display: block;
  margin: 20px 0px 10px 0px;
  padding: 0px;
  text-align: left;
}
.contactos .parrafo_total .parrafo_centrado .redes_form a {
  margin: 0px;
  padding: 0px;
}
.contactos .parrafo_total .parrafo_centrado .redes_form a img {
  margin: 0px;
  padding: 0px;
  width: 40px;
  transition: transform 0.5s;
}
.contactos .parrafo_total .parrafo_centrado .redes_form a img:hover {
  transform: scale(1.2, 1.2);
}
.contactos .parrafo_total .parrafo_centrado .telefonos_contacto {
  display: block;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  text-align: left;
  color: #8c8b8b;
}
.contactos .parrafo_total .parrafo_centrado .telefonos_contacto .span_telefonos {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.contactos .parrafo_total .parrafo_centrado .telefonos_contacto .span_numeros_telefonicos {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.contactos .parrafo_total .parrafo_centrado .email_contacto {
  display: block;
  margin: 20px 0px 0px 0px;
  padding: 0px;
  text-align: left;
  color: #8c8b8b;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.contactos .parrafo_total .parrafo_centrado .email_contacto .email_form {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.contactos .parrafo_total .parrafo_centrado .email_contacto .span_email {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
footer {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 20px;
  text-align: left;
  background: #3bbab5;
}
footer .caja_footer {
  background: #3bbab5;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 0px;
  text-align: left;
}
footer .caja_footer .llamanos {
  display: inline-block;
  margin: 10px 40px 0px 0px;
  padding: 0px 0px 0px 0px;
}
footer .caja_footer .llamanos .logollamanos {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
footer .caja_footer .llamanos .logollamanos img {
  float: left;
  width: 68px;
  height: 70px;
}
footer .caja_footer .llamanos .telefonos {
  display: inline-block;
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 0px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
footer .caja_footer .llamanos .telefonos .llama {
  display: block;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
footer .caja_footer .llamanos .telefonos .cel_andres {
  display: block;
  margin: 5px 0px 0px 0px;
}
footer .caja_footer .llamanos .telefonos .cel_dinael {
  display: block;
  margin: 0px 0px 0px 0px;
}
footer .caja_footer .contactanos {
  display: inline-block;
  margin: 0px 40px 0px 0px;
  padding: 0px;
}
footer .caja_footer .contactanos .logocontactanos {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
footer .caja_footer .contactanos .logocontactanos img {
  float: left;
  width: 68px;
  height: 70px;
}
footer .caja_footer .contactanos .contac {
  display: inline-block;
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 0px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
footer .caja_footer .contactanos .contac .contacto {
  display: block;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
footer .caja_footer .contactanos .contac .email_andres {
  diplay: block;
  margin: 5px 0px 0px 0px;
}
footer .caja_footer .contactanos .contac .email_dinael {
  display: block;
  margin: 0px 0px 0px 0px;
}
footer .caja_footer .redes_sociales {
  display: inline-block;
  margin: 0px 40px 0px 0px;
  padding: 0px;
}
footer .caja_footer .redes_sociales .logosiguenos {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
footer .caja_footer .redes_sociales .logosiguenos img {
  float: left;
  width: 68px;
  height: 70px;
}
footer .caja_footer .redes_sociales .siguenos {
  display: inline-block;
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 0px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
footer .caja_footer .redes_sociales .siguenos .sigue {
  display: block;
  font-weight: bold;
}
footer .caja_footer .redes_sociales .siguenos .logos_redes {
  display: block;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
footer .caja_footer .redes_sociales .siguenos .logos_redes img {
  width: 30px;
  margin: 0px;
  padding: 0px;
  transition: transform 0.5s;
}
footer .caja_footer .redes_sociales .siguenos .logos_redes img:hover {
  transform: scale(1.2, 1.2);
}
footer .caja_footer .copyright {
  display: inline-block;
  margin: 0px 40px 0px 0px;
  padding: 0px;
}
footer .caja_footer .copyright .logocopyright {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
footer .caja_footer .copyright .logocopyright img {
  float: left;
  width: 68px;
  height: 70px;
}
footer .caja_footer .copyright .a単ocopyright {
  display: inline-block;
  float: right;
  margin: 25px 0px 0px 10px;
  padding: 0px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
footer .caja_footer .copyright .a単ocopyright .a単o {
  display: block;
}
footer .caja_footer .copyright .a単ocopyright .firma {
  font-family: RockSalt;
  font-size: 10px;
}
