
colorbody= #FEFDFD
colorheader=#E5E5E5
colorfooter=#3BBAB5
negro=#383838


@font-face
	font-family Pacifico
	src url(fuentes/Pacifico.ttf) format('truetype')

@font-face
	font-family Handlee-Regular
	src url(fuentes/Handlee-Regular.ttf) format('truetype')
	


body
	text-align center
	margin 0px

	.caja_header
		position: absolute;
		width 100%
		height 70px
		margin-top 20px
		background #E5E5E5

	.principal
		text-align left
		margin auto 
		width 80%
		height 100%
		position relative
	
header
	position relative
	width 85%
	height auto
	margin auto
	margin-top 80px
	text-align left
	
	.logo
		float left
		width 100px
		height 100px
		transition transform 1s
		
		img
			transition transform 1s

		img:hover
			transform scale(1.2,1.2)
				

	.titulos
		display inline-block
		margin 15px 0px 0px -10px	

		.nombre_empresa
			font-family Pacifico
			margin 0px
			padding -5px 8px -5px 08px
			font-size 40px
			color #33958F
			text-shadow: 2px 2px 5px rgba(173,213,170,0.5)

			
					
		.razon_social
			margin: -15px 0px 0px 25px
			padding:0px;
			font-size 23px
			color negro
			letter-spacing: 0px;
			text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
			font-family Handlee-Regular
			font-weight: bold

					
	nav
		display inline-block
		float right
		margin 25px 0px 0px 0px
		padding 0px
				
		ul
			text-align center
			padding 0px
					
			li
				display inline
				font-size 25px
				margin-right 10px
				margin-left 10px
						
				a
					text-decoration none
					color negro
					transition transform 1s
					font-family Handlee-Regular
					font-weight: bold

				a:hover
					color #33958F
					transform scale(1.2,1.2)

section
	
.index
	
.servicios
	
.informacion
	
.contacto	

		

footer
	position relative
	width 100%
	height auto
	margin 0px
	padding 0px
	background colorfooter
			
	.caja_footer
		background colorfooter
		width 100%
		height auto
		margin 50px 0px 50px 0px
		padding 0px 0px 0px 0px
		display inline-block
		/*text-align center*/
		position relative

		.llamanos
			display inline-block
			background colorfooter
			margin 10px 40px 0px 0px
			padding 0px 0px 0px 0px
					
			.logollamanos
				display inline-block
				margin 0px	
				padding 0px
										
				img
					float left
					width 68px
					height 70px			

			.telefonos
				display inline-block
				float right
				margin 10px 0px 0px 10px
				padding 0px
				color white

				.llama
					display block
					font-weight bold
							
				.cel_andres
					display block
					margin 5px 0px 0px 0px

				.cel_dinael
					display block
					margin 5px 0px 0px 0px

		.contactanos
			display inline-block
			background colorfooter
			margin 0px 40px 0px 0px
			padding 0px

			.logocontactanos
				display inline-block
				margin 0px
				padding 0px
				img
					/*display inline-block*/
					float left
					width 68px
					height 70px

			.contac
				display inline-block
				float right
				margin 10px 0px 0px 10px
				padding 0px
				color white

				.contacto
					display block
					font-weight bold

				.email_andres
					diplay block
					margin 5px 0px 0px 0px

				.email_dinael
					display block
					margin 5px 0px 0px 0px

		.redes_sociales
			display inline-block
			background colorfooter
			margin 0px 40px 0px 0px
			padding 0px

			.logosiguenos
				display inline-block
				margin 0px
				padding 0px

				img
					/*display inline-block*/
					float left
					width 68px
					height 70px

			.siguenos
				display inline-block
				float right
				margin 10px 0px 0px 10px
				padding 0px
				color white

				.sigue
					display block
					font-weight bold

				.logos_redes
					display block
					margin 10px 0px 0px 0px
					padding 0px

					img
						width 30px
						margin 0px
						padding 0px
						
		.copyright
			display inline-block
			background colorfooter
			margin 0px 40px 0px 0px
			padding 0px

			.logocopyright
				display inline-block
				margin 0px
				padding 0px

				img
					/*display inline-block*/
					float left
					width 68px
					height 70px

			.añocopyright
				display inline-block
				float right
				margin 25px 0px 0px 10px
				padding 0px
				color white

				.año
					display block

			



		
			
			
		
			
		
		


		
