
colorbody= #FEFDFD
colorheader=#E5E5E5
colorfooter=#3BBAB5

body
	margin 0
	
	header
		margin 0
		background green

		.caja_header_index
			margin auto
			margin-top 80px
			height 100%
			width 70%
			background yellow

			img
				display inline-block
				margin-top -20px
				background red
			
			.titulos
				background blue
				display inline-block
				padding 0px
				margin-left 10px

				h1
					margin 0px
					padding 0px
					background red

				span 
					margin 0px
					padding 0px
					padding-left 20px
					background yellow

				/*.titulo
					transform:translate(0px, 10px)
					display inline-block
					padding-top 0px
					background red
					position static				
					

				.subt
					transform:translate(18px, -20px)
					margin-top -30px
					margin-left 110px
					display inline-block
					background red
					position static*/

			nav
				background grey
				display inline-block
				width 60%
				margin-left 30px
				margin-top 0px
				/*margin-left 50%
				margin-top -15px*/
				
				ul
					text-align center
					padding-top 0px
					padding-left 0px
					padding-rigth 0px
					margin 0px 0px 0px 0px

					li
						display inline
						padding 10px
						font-size 30px



						a
							text-decoration none


				 			
							
			
	section
		
	.index
		
		.caja_body_index
			margin auto
			margin-top 0
			width 80%
			height 100%
			background orange
			position relative

	footer
		background colorfooter
		
		.caja_footer_index
			margin auto
			height 100%
			width 70%
			background blue
			position relative
			background yellow


		
