
colorbody= #FEFDFD
colorheader=#E5E5E5
colorfooter=#3BBAB5
colortitulos=#8C8B8B
negro=#383838
naranja=#EDB888
letras_negras=#8C8B8B


@font-face
	font-family Pacifico
	src url(fuentes/Pacifico.ttf) format('truetype')

@font-face
	font-family Handlee-Regular
	src url(fuentes/Handlee-Regular.ttf) format('truetype')

@font-face
	font-family RockSalt
	src url(fuentes/RockSalt.ttf) format('truetype')

@font-face
	font-family Amaranth-Regular
	src url(fuentes/Amaranth-Regular.ttf) format('truetype')

body
	text-align left
	margin 0px
	padding 0px
	background colorbody

	
header
	width 100%
	height auto
	margin 0px 0px 0px 0px
	text-align left
	background #E5E5E5

	.caja_header
		width 65%
		padding 0px
		height auto
		margin auto
		margin-top 80px
		text-align left
		overflow hidden

		.logo
			float left
			width auto
			height auto
			transition transform 0.5s
			margin-top 0px
			
			img
				transition transform 0.5s
				padding 10px


			img:hover
				transform scale(1.2,1.2)
						

		.titulos
			display inline-block
			margin 0px 0px 0px -10px	

			.nombre_empresa
				font-family Pacifico
				margin 0px
				padding -5px 8px -5px 08px
				font-size 40px
				color #33958F
				text-shadow: 2px 2px 5px rgba(173,213,170,0.5)

					
							
			.razon_social
				margin: -15px 0px 0px 25px
				padding:0px;
				font-size 23px
				color negro
				letter-spacing: 0px;
				text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
				font-family Handlee-Regular
				font-weight: bold

					
		nav
			display inline-block
			float right
			margin 12px 0px 0px 0px
			padding 0px
						
			ul
				text-align center
				padding 0px
								
				li
					display inline
					font-size 25px
					margin-right 10px
					margin-left 10px
									
					a
						text-decoration none
						color negro
						transition transform 0.5s
						font-family Handlee-Regular
						font-weight: bold
						text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
							
					.nav_index
						color #33958F
					.nav_servicios
						color #33958F
					.nav_informacion
						color #33958F
					.nav_contacto
						color #33958F
						

					a:hover
						color #33958F
						transform scale(1.2,1.2)


section
	
.index
	width 80%
	height auto
	margin auto
	position relative
	
	.contenido
		display inline-block
		position relative
		margin 100px 0px 100px 0px
		padding 0px
		overflow hidden

		.logobody
			float left
			width 450px
			height 450px
			margin 0px 0px 0px 0px
			padding 0px

		.saludos
			float left
			margin 0px 0px 0px 0px
			padding 0px 0px 0px 30px
			font-family Amaranth-Regular
			
			.hola
				display block
				font-size 80px
				font-weight bold
				color letras_negras
				text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
			.sabemos
				display block
				font-size 50px
				font-weight bold
				color letras_negras
				text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

			.logos_paginas_index
				padding 30px 0px 30px 0px
				margin 0px
					
				img
					transition transform 0.5s
				img:hover
					transform scale(1.1,1.1)
			.descripcion
				display block
				font-size 30px
				font-weight bold
				color letras_negras
				text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
			.movil_web
				font-size 30px
				font-weight bold
				color letras_negras
				text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
			.en_una
				font-size 30px
				font-weight bold
				color #E57D22
				text-shadow: 2px 2px 5px rgba(229,154,34,0.6);
	
.servicios
	display block
	margin 0px 
	padding 0px
	width 75%
	height auto
	margin auto
	font-family Amaranth-Regular


	.titulo_servicios
		width 100%
		height auto
		margin 0px
		padding 0px
		display block

		h1
			color colortitulos
			display inline-block
			font-size 80px
			width 90%
			height auto
			margin 50px 20px 20px 20px 
			padding 0px 0px 2% 0px
			text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	

article
	margin 20px 0px 20px 0px
	padding 0px
	display inline-block
	border-top 3px solid naranja
		
	figure
		margin 0px
		padding 0px

		img
			margin 0px
			padding 20px
			float left
			transition transform 0.5s

		img:hover
			transform scale(1.2,1.2)


	div
		margin 0px
		padding 7% 7% 0px 0px

		p
			margin 0px
			padding 0px
			text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
			font-size 20px
			text-align justify

	

.informacion
	display block
	margin 0px 
	padding 0px
	width 75%
	height auto
	margin auto
	font-family Amaranth-Regular


	.titulo_nuestrahistoria
		width 100%
		height auto
		margin 0px
		padding 0px
		display block

		h1
			color colortitulos
			border-bottom 3px solid naranja
			display inline-block
			font-size 80px
			width 90%
			height auto
			margin 50px 20px 20px 20px 
			padding 0px 0px 2% 0px
			text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
			
	.img_info_prin
		width 100%
		height auto
		margin 10px 0px 0px 0px
		padding 0px
		display block
					
		img
			width 100%
			height auto
			margin 0px
			padding 0px
			
	.parrafo_informacion
		width 100%
		height 100%
		margin 10px 0px 10px 0px
		padding 0px 0px 0px 0px
		text-align center

		.segundo_parrafo_informacion
			margin 2% 15% 5% 15%
			
			p
				border-bottom 3px solid colorheader
				margin 0px 0px 0px 0px
				padding 0px 0px 7% 0px
				text-align justify
				text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
				font-size 20px

.contactos
	display block
	margin 0px 
	padding 0px
	width 75%
	height auto
	margin auto	
	font-family Amaranth-Regular


	.titulo_contactos
		width 100%
		height auto
		margin 0px
		padding 0px
		display block

		h1
			color colortitulos
			border-bottom 3px solid naranja
			display inline-block
			font-size 80px
			width 90%
			height auto
			margin 50px 20px 20px 20px 
			padding 0px 0px 2% 0px
			text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	.parrafo_total
		width 100%
		height 100%
		margin 10px 0px 10px 0px
		padding 0px 0px 0px 0px
		text-align center

		.parrafo_centrado
			margin 2% 25% 5% 25%
			
			.parrafo_contacto
				display block
				
				p
					border-bottom 3px solid colorheader
					margin 0px 0px 0px 0px
					padding 0px 0px 7% 0px
					text-align justify
					text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
					font-size 20px

			.formulario
				diplay block
				margin 10px 0px 10px 0px
				padding 0px
				text-align left

			.redes_form
				display block
				margin 20px 0px 10px 0px
				padding 0px
				text-align left

				a
					margin 0px
					padding 0px

					img
						margin 0px
						padding 0px
						width 40px
						transition transform 0.5s
					img:hover
						transform scale(1.2,1.2)
					
			.telefonos_contacto	
				display block
				margin 10px 0px 10px 0px
				padding 0px
				text-align left
				color colortitulos

				.span_telefonos
					margin 0px
					padding 0px 0px 0px 0px
					font-weight bold
					font-size 20px
					text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

				.span_numeros_telefonicos
					margin 0px 0px 0px 10px
					padding 0px	
					text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

			.email_contacto
				display block
				margin 20px 0px 0px 0px
				padding 0px
				text-align left
				color colortitulos
				text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

				.email_form
					margin 0px
					padding 0px
					font-weight bold
					font-size 20px
					text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

				.span_email
					margin 0px 0px 0px 10px
					padding 0px
					text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

footer
	width 100%
	height auto
	margin 0px
	padding 20px
	text-align left
	background colorfooter
			
	.caja_footer
		background colorfooter
		width 80%
		height auto
		margin auto
		padding 0px
		text-align left

		.llamanos
			display inline-block
			margin 10px 40px 0px 0px
			padding 0px 0px 0px 0px
					
			.logollamanos
				display inline-block
				margin 0px	
				padding 0px
										
				img
					float left
					width 68px
					height 70px			

			.telefonos
				display inline-block
				float right
				margin 10px 0px 0px 10px
				padding 0px
				color white
				text-shadow: 2px 2px 5px rgba(0,0,0,1);

				.llama
					display block
					font-weight bold
					margin 0px
					padding 0px

							
				.cel_andres
					display block
					margin 5px 0px 0px 0px

				.cel_dinael
					display block
					margin 0px 0px 0px 0px

		.contactanos
			display inline-block
			margin 0px 40px 0px 0px
			padding 0px

			.logocontactanos
				display inline-block
				margin 0px
				padding 0px
				img
					float left
					width 68px
					height 70px

			.contac
				display inline-block
				float right
				margin 10px 0px 0px 10px
				padding 0px
				color white
				text-shadow: 2px 2px 5px rgba(0,0,0,1);

				.contacto
					display block
					font-weight bold
					margin 0px
					padding 0px

				.email_andres
					diplay block
					margin 5px 0px 0px 0px
					

				.email_dinael
					display block
					margin 0px 0px 0px 0px

		.redes_sociales
			display inline-block
			margin 0px 40px 0px 0px
			padding 0px

			.logosiguenos
				display inline-block
				margin 0px
				padding 0px

				img
					float left
					width 68px
					height 70px

			.siguenos
				display inline-block
				float right
				margin 10px 0px 0px 10px
				padding 0px
				color white
				text-shadow: 2px 2px 5px rgba(0,0,0,1);

				.sigue
					display block
					font-weight bold

				.logos_redes
					display block
					margin 10px 0px 0px 0px
					padding 0px

					img
						width 30px
						margin 0px
						padding 0px
						transition transform 0.5s
					img:hover
						transform scale(1.2,1.2)
						
		.copyright
			display inline-block
			margin 0px 40px 0px 0px
			padding 0px

			.logocopyright
				display inline-block
				margin 0px
				padding 0px

				img
					float left
					width 68px
					height 70px

			.añocopyright
				display inline-block
				float right
				margin 25px 0px 0px 10px
				padding 0px
				color white
				text-shadow: 2px 2px 5px rgba(0,0,0,1);

				.año
					display block
				.firma
					font-family RockSalt
					font-size 10px