body {
  margin: 0;
}
body header {
  margin: 0;
  background: #008000;
}
body header .caja_header_index {
  margin: auto;
  margin-top: 80px;
  height: 100%;
  width: 70%;
  background: #ff0;
}
body header .caja_header_index img {
  display: inline-block;
  margin-top: -20px;
  background: #f00;
}
body header .caja_header_index .titulos {
  background: #00f;
  display: inline-block;
  padding: 0px;
  margin-left: 10px;
/*.titulo
					transform:translate(0px, 10px)
					display inline-block
					padding-top 0px
					background red
					position static				
					

				.subt
					transform:translate(18px, -20px)
					margin-top -30px
					margin-left 110px
					display inline-block
					background red
					position static*/
}
body header .caja_header_index .titulos h1 {
  margin: 0px;
  padding: 0px;
  background: #f00;
}
body header .caja_header_index .titulos span {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  background: #ff0;
}
body header .caja_header_index nav {
  background: #808080;
  display: inline-block;
  width: 60%;
  margin-left: 30px;
  margin-top: 0px;
/*margin-left 50%
				margin-top -15px*/
}
body header .caja_header_index nav ul {
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-rigth: 0px;
  margin: 0px 0px 0px 0px;
}
body header .caja_header_index nav ul li {
  display: inline;
  padding: 10px;
  font-size: 30px;
}
body header .caja_header_index nav ul li a {
  text-decoration: none;
}
body section .caja_body_index,
body .index .caja_body_index {
  margin: auto;
  margin-top: 0;
  width: 80%;
  height: 100%;
  background: #ffa500;
  position: relative;
}
body footer {
  background: #3bbab5;
}
body footer .caja_footer_index {
  margin: auto;
  height: 100%;
  width: 70%;
  background: #00f;
  position: relative;
  background: #ff0;
}
